@import "tailwindcss";


@theme {
    --color-primary: #FFC0CB;
    --color-dark-bg: #121212;
    --color-dark-card: #1E1E1E;
    --color-dark-text: #E0E0E0;
    --color-dark-pink: #FF8FA3;
    --color-dark-accent: #FF4081;
    --color-pinkBg: #FFC0CB;
    --color-blackText: #111111;
}
